<% provide :title, t("words.new_word") %>
<div class="row">
  <div class="col-md-7 col-md-offset-2 ">
    <div class="panel panel-primary">
      <div class="panel-heading"><h2><%= t "words.new_word" %></h2></div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
