<div class="panel panel-default">
  <div class="panel-heading"><%= f.object.word.name %></div>
  <div class="panel-body">
    <% f.object.word.answers.each do |answer| %>
    <%= answer.content %>
    <%= f.radio_button :answer_id, answer.id %>
  <% end %>
  </div>
</div>
